.app {
  display: flex;
  justify-content: space-around;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
  .main-title-wrapper {
    display: flex;
    margin-top: 6rem;
    justify-content: center;
    width: 40%;
    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
    .main-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      color: #8be3d5;
      text-transform: uppercase;
      @media (max-width: 768px) {
        width: 100%;
      }
      h1 {
        font-size: 4.5rem;
        text-align: center;
        @media (max-width: 1200px) {
          font-size: 2.7rem;
        }
      }
      .deco-line {
        height: 2px;
        width: 100%;
        background-color: #8be3d5;
      }
      p {
        font-size: 4rem;
        span {
          color: #20615d;
          opacity: 0.3;
        }
        @media (max-width: 1200px) {
          font-size: 2.7rem;
        }
      }
    }
  }
  .accordion {
    width: 50%;
    margin: 50px 25px;
    @media (max-width: 768px) {
      width: 80%;
    }
    .item {
      border: 1px solid #3a938f;
      padding: 10px 20px;
      box-shadow: 0 0 6px #cbcac6;
      transition: all 0.5s ease;
      background-color: #8be3d5;
    }
    .item--show {
      border-radius: 10px;
      margin: 10px 0;
    }
    .title {
      color: #745751;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
      cursor: pointer;
      @media (max-width: 600px) {
        h2 {
          font-size: 20px;
        }
      }
    }
    .content {
      margin: 0;
      font-family: "Roboto","Helvetica","Arial",sans-serif;
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      color: #745751;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s cubic-bezier(0, 1, 0, 1);
      @media (max-width: 600px) {
          font-size: 16px;
      }
    }
    .content--show {
      height: auto;
      max-height: 9999px;
      transition: all 0.5s cubic-bezier(1, 0, 1, 0);
    }
    .btn {
      height: 3px;
      width: 15px;
      background-color: rgb(24, 167, 24);
      transition: all 0.5s ease;
      &:before {
        content: '';
        display: block;
        position: relative;
        top: -6px;
        right: -6px;
        height: 15px;
        width: 3px;
        background-color: rgb(24, 167, 24);
        transition: all 0.5s ease;
      }
    }
    .btn--close {
      transform: rotate(45deg);
    }
    .btn--close, .btn--close.btn:before {
      background-color: rgb(255, 0, 0);
    }
  }
}